:root{
    --primary: #abc7ff;
    --primaryContainer: #09458e;
    --onPrimary: #002e69;
    --onPrimaryContainer: #d6e2ff;
    --inversePrimary: #2e5da8;
    --secondary: #bec6dc;
    --secondaryContainer: #3f4759;
    --onSecondary: #283041;
    --onSecondaryContainer: #dae2f9;
    --tertiary: #debce0;
    --tertiaryContainer: #3f2843;
    --onTertiary: #573e5b;
    --onTertiaryContainer: #fad7fc;
    --surface: #111318;
    --surfaceDim: #111318;
    --surfaceBright: #37393f;
    --surfaceContainerLowest: #0c0e13;
    --surfaceContainerLow: #1b1b1b;
    --surfaceContainer: #1e1f24;
    --surfaceContainerHigh: #282a2f;
    --surfaceContainerHighest: #33353a;
    --surfaceVariant: #44474f;
    --onSurface: #e2e2e9;
    --onSurfaceVariant: #c4c6d0;
    --inverseSurface: #e2e2e9;
    --inverseOnSurface: #2e3035;
    --background: #111318;
    --onBackground: #e2e2e9;
    --error: #ffb4a9;
    --errorContainer: #680003;
    --onError: #930006;
    --onErrorContainer: #ffdad4;
    --outline: #8e9099;
    --outlineVariant: #44474f;
    --shadow: #000000;
    --surfaceTint: #abc7ff;
    --scrim: #000000;

    --black: #000000;
    --red: #dd3730;
    --green: #00c46d;
    --yellow: #b0cc64;
    --blue: #466dec;
    --magenta: #b13fe1;
    --cyan: #00aec2;
    --white: #c6c6cd;
    --bright_black: #696a70;
    --bright_red: #ff7163;
    --bright_green: #00f38a;
    --bright_yellow: #d1ee82;
    --bright_blue: #8ea7ff;
    --bright_magenta: #e089ff;
    --bright_cyan: #61e6fb;
    --bright_white: #fdfbff;
}